@use './variables.scss' as *;

.main-auth {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 84px);

  .left-column {
    background-size: cover;
    background-position: center;
  }

  .right-column {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $offwhite;
  }
}
